body {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  padding: 1rem;
  width: auto;
  background-color: rgba(132, 193, 91, 255);
}
#container {
  background-color: rgba(132, 193, 91, 255);
  display: flex;
  flex-direction: column;
  margin: 10px;
}
#logo {
  max-width: 100%;
}

#navbar {
  display: flex;
  box-sizing: border-box;
  padding: 0rem;
  margin-bottom: 10px;
}

#navbar ul {
  flex-direction: column;
  width: 100%;
}

#navbar li {
  flex-direction: row;
  border-radius: 5px;
  border: 1px rgb(103, 154, 69) solid;
  box-shadow: 0px 3px 0px 0px rgba(58, 158, 63, 0.602);
  background: #9dcc7d;
  text-align: center;
  height: 20px;
  padding: 10px;
}
#navbar a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
#navbar li:hover {
  background-color: rgba(203, 215, 141, 0.765);
}

#main {
  box-sizing: border-box;
  display: block;
}
/* vision asetukset */
.hidden {
  display: none;
}
.vision {
  display: flex;
  flex-direction: column-reverse;
  padding: 0px;
  margin: 0px;
}
.vision p {
  padding: 0.5rem;
  font-size: 1.5rem;
}
.vision img {
  vertical-align: top;
  width: 100%;
}
#bottom-main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* special asetukset */

.nauha {
  display: flex;
  justify-content: space-between;
  background: darkgray;
  margin: 0 0 5px 0;
  padding: 6px;
}

.nauha a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.fa-solid {
  text-decoration: none;
}

#events,
#news,
#specials {
  border: 10px white solid;
  margin: 5px 0 5px 0;
  background-color: white;
}

#events img {
  max-width: 100%;
}

#specials img {
  max-width: 100%;
}

#news span {
  font-weight: bold;
  margin: 5px 10px 5px 5px;
}

table {
  border-spacing: -1px;
  font-size: 12px;
}

td {
  padding: 1px;
}
/* footer asetukset  */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
  margin: 2px;
}
footer span {
  color: white;
}
footer p {
  font-size: 8px;
  row-gap: 5px;
}
.fa-brands {
  text-decoration: none;
  max-width: 100%;
}
.fa-square-facebook {
  color: white;
}
.fa-square-twitter {
  color: white;
}

/*tablet asetukset */
@media only screen and (min-width: 426px) {
  #navbar ul {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #navbar li {
    flex-direction: row;
    width: 100%;
  }

  #main {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
  }
  .hidden {
    display: block;
  }
  .vision {
    border: white 10px solid;
    flex-direction: row-reverse;
    background-image: url(./assets/back-txt.jpg);
  }
  .vision figure {
    width: 30rem;
  }
  .vision p {
    font-size: 15px;
    text-align: center;
    align-content: center;
  }

  #bottom-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4px;
  }

  #events,
  #news,
  #specials {
    border: 6px white solid;
  }

  #specials {
    padding: 4px 0px 0px 5px;
  }
  #events {
    padding: 4px 5px 0px 0;
  }

  #news {
    padding: 4px 5px 0px 5px;

    grid-column: 1 / -1;
  }
  #news p {
    font-size: 13px;
  }
}

/* desktop view */
@media only screen and (min-width: 769px) {
  #navbar li {
    flex-direction: row;
    width: 100%;
  }
  /* vision asetukset */

  .hidden {
    display: block;
  }
  .vision {
    border: white 10px solid;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 100%;
    background-image: url(./assets/back-txt.jpg);
  }
  .vision p {
    font-size: 20px;
    justify-content: center;
    align-content: center;
  }

  .vision figure {
    width: 30rem;
  }

  /* bottom main asetukset */

  #bottom-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 10px 0 0px 0;
  }

  #news,
  #events,
  #specials {
    width: 100%;
    padding: 4px;
  }

  #news p {
    font-size: 13px;
  }
  footer p {
    font-size: 12px;
  }
}
